body {
    background-color: #0FAEC4;
    font-family: 'Indie Flower', cursive;
    text-align: center;
}

h1 {
    font-size: 3em;
    font-family: 'Indie Flower', cursive;
    font-style: italic;
    font-weight: bold;
    color: #f6f6f6;
    text-shadow: 2px 2px 1px black
}
.keyboard {
    background-color: #5EC1CF;
    margin: 20px 20% 0;
    padding: 1.5em  0;
    border-radius: 25px
}

.key {
    font-family: 'Indie Flower', cursive;
    margin: 10px;
    padding: 0 10px;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow: 0px 3px 3px 2px black;
	background:linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:black;
	font-size:2em;
	font-weight:bold;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
}
.key:hover {
	background:linear-gradient(to bottom, #f6f6f6 5%, #ffffff 100%);
	background-color:#f6f6f6;
}
.key:active {
	position:relative;
	top:1px;
}

.used {
    color: red;
    opacity: 0.3
}

.actual-word {
    margin-top: 1.5em;
    font-size: 3em;
}
